@import "tailwindcss";

@font-face {
    font-family: "MySystemUI";
    src: local("system-ui");
}


:root {
    --primary: #FFF;
}

* {
    line-height: 1.4;
    scroll-margin: 4px !important
}


.mail-scroll::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.mail-scroll::-webkit-scrollbar-track {
    background: #EDEDE9;
}

.mail-scroll::-webkit-scrollbar-thumb {
    background: #D3D1CB;
    border-radius: 0;
}

.mail-scroll::-webkit-scrollbar-thumb:hover {
    background: #9e9e9e;
}

.reset-styles {
    all: unset;
    /* reset everything */
    display: block;
    /* restore block layout */
    font: inherit;
    /* optional: inherit app font */
}

body {
    background-color: var(--primary);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}